#title{
    color: red;
    text-decoration:underline;
}

body{
    color:red;
    font-size:24px;
}
p{
    background-color:silver;
}
.search{
    font-size:20px;
}
#titles{
    width:20%;
    height:20px;

}