#title{
    color: white;
    text-decoration:underline;
    
}

body{
    color:lightblue;
    font-size:24px;
}


.search{
    font-size:18px;
}
#titles{
    width:15%;
    height:30px;

}

* {
  box-sizing: border-box;
}

.column {
 float: left;
  width: 10%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 100px) {
  .column {
    width: 50%;
  }
}
body {
  background-image: url("http://clementinumconcerts.com/img/full/10c.jpg");
   color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;



}
.info{
    font-weight: bold;
    color: gold;
    
}
.content{
    font-weight: normal;
    color: white;
}